<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinshuai.seckill.dao.ISecKillDao">

	<select id="getProductById" resultType="Product">
		SELECT *
		FROM product
		WHERE id = #{id}
	</select>

	<!-- 加载到缓存 -->
	<select id="getAllProducts" resultType="Product">
		SELECT id,stock
		FROM product
	</select>

	<!-- 乐观锁 -->
	<update id="updateStockByOptimisticLock" >
		UPDATE product
		SET stock = stock - 1,version = version + 1
		WHERE id = #{id} AND version = #{version}
	</update>

	<!-- 悲观锁 -->
	<select id="getAndLockProductById" resultType="Product">
		SELECT *
		FROM product
		WHERE id = #{id}
		FOR UPDATE
	</select>

	<update id="updateStockByPessimisticLock" >
		UPDATE product
		SET stock = stock - 1
		WHERE id = #{id}
	</update>

	<insert id="createOrder" keyProperty="id" useGeneratedKeys="true" parameterType="Order" >
		INSERT INTO `order` (userId,productId,createTime)
		VALUES (#{user.id},#{product.id},#{createTime})
	</insert>

	<select id="getUserById" resultType="User">
		SELECT *
		FROM user
		WHERE id = #{id}
	</select>

</mapper>